/* You can add global styles to this file, and also import other style files */
@import "app/features/user/components/timetable";

body {
  margin: 0px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url("./assets/fonts/MaterialIcons-Regular.woff2") format('woff2'),
  url("./assets/fonts/MaterialIcons-Regular.woff") format('woff'),
  url("./assets/fonts/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons, .fa {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 1.5em;
  /* Preferred icon size */
  font-style: normal;
  font-weight: normal;
  height: 1em;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  width: 1em;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.ui-sidebar {
  padding: 0px;
}

.ui-card-footer {
  font-size: 0.85em;
}
