.right {
  text-align: right;
}

.red > div {
  background-color: #ffd5a9;
}

.green > div {
  background-color: lightgreen;
}

.yellow > div {
  background-color: #ecff00;
}

.gray > div {
  background-color: lightgray;
}

.head-timetable {
  font-size: 20px;
  font-weight: bold;
  height: 150px;
}

.ui-card-body {
  padding: 0.3em;
}

@media screen and (max-width: 40em) {
  .ui-sm-6 {
    padding: 0.1em;
  }
}
